*{
  box-sizing: border-box;
}
:root{
  --main-color: rgb(22, 206, 191);
}
/* NAVBAR */
.my-navbar{
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}
.my-navbar .navbar-brand{
  font-size: 3rem;
}
.my-navbar .logo-text-1{
  color: white;
}
.my-navbar .logo-text-2{
  color: var(--main-color);
}
.my-navbar .nav-item{
  margin: 15px;
  border-bottom: 2px solid white;
}
.my-navbar .nav-link{
  color: white;
  font-size: 18px;
}
/* END NAVBAR */
/* CAROUSEL */
.carousel .carousel-inner img{
  height: 700px;
  width: 100%;
}
.carousel .carousel-caption{
  bottom: 40%;
}
.carousel .carousel-caption h1{
  font-size: 3.5rem;
}
.carousel .carousel-caption h4{
  color: rgb(190, 197, 191);
}

.carousel .carousel-indicators li{
  height: 10px;
  width: 10px;
  background-color: white;
  margin: 100px 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel .carousel-indicators li.active{
  background-color: black;
}
.carousel .carousel-control-prev span,
.carousel .carousel-control-next span{
  height: 70px;
  width: 40px;
}
/* END CAROUSEL */
/* ABOUT */
  /* section */
.section-container{
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}
.section-title{
  font-size: 3.5rem;
  padding-bottom: 1rem;
  text-align: center;
}
.subtitle{
  color: var(--main-color);
}
  /* end section */

.about .item .item-icon{
  height: 6rem;
  width: 6rem;
  margin: auto;
  font-size: 2rem;
  color: black;
  position: relative;
  border: 1px solid gray;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about .item span{
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
/* END ABOUT */
/* STATS */
.stats{
  padding: 3rem 0;
  background-color: var(--main-color);
}
.stats .item{
  width: 25%;
}
.stats .item p{
  font-size: 3.5rem;
  color: white;
}
/* END STATS */

/* BLOG */
.blog .card{
  border: none;
  background-color: rgb(245, 239, 239);
}
.blog .container img{
  border-top: 0.5rem solid var(--main-color);
}
.blog .card-body h4{
  color: var(--main-color);
}

.btn-read-more{
  width: 9rem;
  height: 2.5rem;
  color: var(--main-color);
  background-color: black;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* END BLOG */

/* GET MORE */
.get-more{
  background-color: var(--main-color);
}
.get-more .get-more-video{
  padding: 0;
}
.get-more .get-more-video img{
  width: 100%;
  height: 100%;
}
.get-more .get-more-detail{
  padding: 3rem 3rem;
}
/* END GET MORE */

/* PORTFOLIO */
.portfolio .content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
}
/* END PORTFOLIO */

/* SUBSCRIBE */
.subscribe{
  padding: 3rem 15rem;
  background-color: var(--main-color);
}
.subscribe input{
  height: 2.5rem;
  width: 60%;
  padding-left: 0.5rem;
}
.subscribe .btn-read-more{
  font-size: 1.1rem;
  font-weight: bold;
}
/* END SUBSCRIBE */

/* AGENTS */
.agents .card{
  border: none;
  margin: 0 1rem;
}
.agents .card-body{
  font-weight: bold;
  background-color: rgb(37, 33, 33);
}
.agents .card-body h4{
  color: var(--main-color);
}
.agents .card-body p{
  color: white;
}
.agents .social{
  justify-content: center;
}
/* social-icon */
.social div{
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  border: 2px solid white;
}
/* END AGENTS */
/* GOOGLE MAP */
.map{
  margin: 3rem 0;
  background-color: gray;
  border: 2px solid var(--main-color);
}
.map iframe{
  height: 400px;
  width: 100%;
  margin: 1rem;
}
/* END GOOGLE MAP */
/* CONTACT */
.contact{
  height: 450px;
}
.contact input{
  height: 2.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  border: none;
  border-bottom: 2px solid gray;
  background-color: rgb(245, 239, 239);
}
.contact #input-message{
  height: 10.5rem;
}
.contact .btn-read-more{
  width: 100%;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
/* END CONTACT */
/* FOOTER */
.footer{
  background-color: var(--main-color);
}
/* END FOOTER */
.back-to-top{
  z-index: 10;
  font-size: 3rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}
